body {
    background-image: url("../Image/Background.jpg");
    background-repeat: repeat-y;
    background-possition: center;
}

.container {
    margin: 100px auto;
    max-width: 1140px;
    background-color: rgb(222, 227, 234);
    box-sizing: border-box;
    padding: 20px 40px;
}

.red {
    background-color: tomato;
}

.sky-blue{
    background-color: skyblue;
}

.border-radius-10{
    border-radius: 10px;
}

.padding-20{
    padding: 20px;
}

.left-container,
.right-container{
    width: 40%;
}

.left-container{
    float: left;
}

.right-container{
    float: right;
}

.clearfix{
    clear:both;
}

div {
    box-sizing: border-box;
}

.title, .text{
    color: white;
}

.text{
    text-align: justify;
}